* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 3rem;
    line-height: 4rem;
}

.choice:hover {
    /* opacity:0.5; */
    cursor: pointer;
    background-color: #081b31;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

.choice {
    height: 200px;
    width: 200px;
    /* padding:10px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    /* border:5px solid #081b31; */
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 9rem;
    margin-top: 5rem;
}

#user-score {
    font-size: 5rem;
}

#Comp-score {
    font-size: 5rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

/* Media Queries */
@media (min-width: 600px) {
    .choice {
        height: 200px;
        width: 200px;
    }

    img {
        height: 180px;
        width: 180px;
    }

    .score-board {
        gap: 5rem;
    }

    #user-score,
    #Comp-score {
        font-size: 5rem;
    }

    #msg {
        font-size: 2rem;
    }
}
